predict-life-expectancy-node-red-file.json
[{"id":"ba9f866e.fc0af8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67e34204.3cc91c","type":"ui_text","z":"ba9f866e.fc0af8","group":"cd5577d8.d6eb98","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":120,"wires":[]},{"id":"1af1e7d6.e3ea88","type":"debug","z":"ba9f866e.fc0af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"19c3d3a3.82467c","type":"function","z":"ba9f866e.fc0af8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["1af1e7d6.e3ea88","67e34204.3cc91c"]]},{"id":"c95fd7d1.9bd9c8","type":"http request","z":"ba9f866e.fc0af8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/8c1b9e85-36d6-4c9a-867d-7a7cdf73cbb7/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["19c3d3a3.82467c"]]},{"id":"28a1d836.620768","type":"function","z":"ba9f866e.fc0af8","name":"Pre Prediction","func":"var cntry = global.get('cntry')\nvar yr = global.get('yr')\nvar sts = global.get('sts')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alcl = global.get('alcl')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar msl = global.get('msl')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar diph = global.get('diph')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar popl = global.get('popl')\nvar t1to19ye = global.get('t1to19ye')\nvar t5to9ye = global.get('t5to9ye')\nvar incmcom = global.get('incmcom')\nvar sch = global.get('sch')\nvar token=msg.payload.access_token\nvar instance_id=\"0040c2cb-7074-470e-a782-bad5e4c0d9f2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult_Mortality\", \"infant_deaths\", \"Alcohol\", \"percentage_expenditure\", \"Hepatitis_B\", \"Measles \", \" BMI \", \"under_five_deaths \", \"Polio\", \"Total_expenditure\", \"Diphtheria \", \" HIV_AIDS\", \"GDP\", \"Population\", \" thinness _1_19_years\", \" thinness_5_9_years\", \"Income_composition_of_resources\", \"Schooling\"], \"values\": [[cntry,yr,sts,am,id,alcl,pe,hb,msl,bmi,ufd,pol,te,diph,ha,gdp,popl,t1to19ye,t5to9ye,incmcom,sch]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["c95fd7d1.9bd9c8"]]},{"id":"d89b8393.a8185","type":"http request","z":"ba9f866e.fc0af8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["28a1d836.620768"]]},{"id":"c9855bb8.53da38","type":"function","z":"ba9f866e.fc0af8","name":"PreToken","func":"global.set(\"cntry\",msg.payload.cntry)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alcl\",msg.payload.alcl)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"msl\",msg.payload.msl)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"diph\",msg.payload.diph)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popl\",msg.payload.popl)\nglobal.set(\"t1to19ye\",msg.payload.t1to19ye)\nglobal.set(\"t5to9ye\",msg.payload.t5to9ye)\nglobal.set(\"incmcom\",msg.payload.incmcom)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"mkmPBpGt-10B8qmAAnYwSkQWlWthWDINpRt1Fq3_lakj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["d89b8393.a8185"]]},{"id":"28957273.eeb04e","type":"inject","z":"ba9f866e.fc0af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["c9855bb8.53da38"]]},{"id":"af6ef0d5.99c35","type":"ui_form","z":"ba9f866e.fc0af8","name":"","label":"","group":"cd5577d8.d6eb98","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"cntry","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"sts","type":"text","required":true,"rows":null},{"label":"Adult_Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant_deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcl","type":"number","required":true,"rows":null},{"label":"percentage_expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"msl","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under_five_deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total_expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"diph","type":"number","required":true,"rows":null},{"label":" HIV_AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popl","type":"number","required":true,"rows":null},{"label":" thinness _1_19_years","value":"t1to19ye","type":"number","required":true,"rows":null},{"label":" thinness_5_9_years","value":"t5to9ye","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"incmcom","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"cntry":"","yr":"","sts":"","am":"","id":"","alcl":"","pe":"","hb":"","msl":"","bmi":"","ufd":"","pol":"","te":"","diph":"","ha":"","gdp":"","popl":"","t1to19ye":"","t5to9ye":"","incmcom":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["c9855bb8.53da38"]]},{"id":"cd5577d8.d6eb98","type":"ui_group","z":"","name":"Default","tab":"d8de895e.4fa7e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8de895e.4fa7e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]